{{- /*gotype: github.com/fafeitsch/open-callopticum/report.Report*/ -}}
This is a sample call detail report:

Production Calls: {{index .Stats "production_calls"}}
Calls in the evening hours: {{index .Stats "evening_hours"}}
Calls from Magdalene Greenman and Farlie Brager: {{index .Stats "employees"}}